@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&family=Sulphur+Point:wght@300;400;700&display=swap');

*{
    font-family: "Playpen Sans Thai", "Sulphur Point";
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}